<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

  <main class="relative w-full min-h-[100vh] max-w-[1444px] mt-[60px] pb-40 bg-midnight">
    <div class="w-full flex flex-wrap flex-col justify-center items-center md:flex-row gap-2 lg:gap-10 md:px-12">
      <section class="w-full h-full mt-8 flex justify-start bg-white bg-gradient-to-tr from-blue-200 to-orange-200 transition-all duration-300">
        <a href="#" class="w-max h-max py-4 px-6 bg-rose text-white hover:text-rose hover:bg-gradient-to-tr hover:from-orange-200 hover:to-blue-50 hover:outline hover:outline-1 hover:outline-white">
          Lihat Jadwal Ust. Handy Bonny
        </a>
      </section>
      <section class="relative w-full mt-1 py-4 px-6 bg-rose">
        <div class="w-full flex flex-col md:flex-row md:justify-between items-start mb-5 md:px-10">
          <h2 class="font-bold text-4xl lg:text-5xl text-white mb-5">Undangan Saya</h2>
          <a href="/invite" class="block w-max py-2 px-5 bg-white text-midnight hover:bg-midnight hover:text-white hover:shadow-md transition-all duration-150">Lihat Undangan</a>
        </div>
        <div class="w-full px-5 flex flex-col items-center justify-center md:flex-row md:flex-wrap lg:justify-around gap-6 lg:-mb-16">
          <div class="relative w-full md:w-[250px] h-[150px] bg-white hover:bg-gradient-to-br hover:from-orange-500 hover:to-blue-500 text-midnight hover:text-white hover:border-2 hover:border-white group">
            <h3 class="absolute top-[10px] md:top-[20px] left-[10px] md:left-[20px] font-bold text-2xl group-hover:top-[25px] group-hover:left-[25px] transition-all duration-300">Tinjauan</h3>
            <p class="absolute bottom-[10px] right-[10px] font-bold text-5xl group-hover:bottom-[25px] group-hover:right-[25px] transition-all duration-300"><%= invitation.tinjauan  %></p>
          </div>
          <div class="relative w-full md:w-[250px] h-[150px] bg-white hover:bg-gradient-to-br hover:from-orange-500 hover:to-blue-500 text-midnight hover:text-white hover:border-2 hover:border-white group">
            <h3 class="absolute top-[10px] md:top-[20px] left-[10px] md:left-[20px] font-bold text-2xl group-hover:top-[25px] group-hover:left-[25px] transition-all duration-300">Negosiasi</h3>
            <p class="absolute bottom-[10px] right-[10px] font-bold text-5xl group-hover:bottom-[25px] group-hover:right-[25px] transition-all duration-300"><%= invitation.negosiasi %></p>
          </div>
          <div class="relative w-full md:w-[250px] h-[150px] bg-white hover:bg-gradient-to-br hover:from-orange-500 hover:to-blue-500 text-midnight hover:text-white hover:border-2 hover:border-white group">
            <h3 class="absolute top-[10px] md:top-[20px] left-[10px] md:left-[20px] font-bold text-2xl group-hover:top-[25px] group-hover:left-[25px] transition-all duration-300">Diterima</h3>
            <p class="absolute bottom-[10px] right-[10px] font-bold text-5xl group-hover:bottom-[25px] group-hover:right-[25px] transition-all duration-300"><%= invitation.diterima %></p>
          </div>
          <div class="relative w-full md:w-[250px] h-[150px] bg-white hover:bg-gradient-to-br hover:from-orange-500 hover:to-blue-500 text-midnight hover:text-white hover:border-2 hover:border-white group">
            <h3 class="absolute top-[10px] md:top-[20px] left-[10px] md:left-[20px] font-bold text-2xl group-hover:top-[25px] group-hover:left-[25px] transition-all duration-300">Ditolak</h3>
            <p class="absolute bottom-[10px] right-[10px] font-bold text-5xl group-hover:bottom-[25px] group-hover:right-[25px] transition-all duration-300"><%= invitation.ditolak %></p>
          </div>
        </div>
      </section>
      <section class="relative w-full mt-20 py-4 px-6 bg-rose">
        <div class="w-full flex flex-col md:flex-row md:justify-between items-start mb-5 md:px-10">
          <h2 class="font-bold text-4xl lg:text-5xl text-white mb-5">Sponsorship</h2>
          <a href="/sponsor" class="block w-max py-2 px-5 bg-white text-midnight hover:bg-midnight hover:text-white hover:shadow-md transition-all duration-150">Lihat Sponsorship</a>
        </div>
        <div class="w-full px-5 flex flex-col items-center justify-center md:flex-row md:flex-wrap lg:justify-around gap-6 lg:-mb-16">
          <div class="relative w-full md:w-[250px] h-[150px] bg-white hover:bg-gradient-to-br hover:from-orange-500 hover:to-blue-500 text-midnight hover:text-white hover:border-2 hover:border-white group">
            <h3 class="absolute top-[10px] md:top-[20px] left-[10px] md:left-[20px] font-bold text-2xl group-hover:top-[25px] group-hover:left-[25px] transition-all duration-300">Tinjauan</h3>
            <p class="absolute bottom-[10px] right-[10px] font-bold text-5xl group-hover:bottom-[25px] group-hover:right-[25px] transition-all duration-300"><%= sponsorship.tinjauan %></p>
          </div>
          <div class="relative w-full md:w-[250px] h-[150px] bg-white hover:bg-gradient-to-br hover:from-orange-500 hover:to-blue-500 text-midnight hover:text-white hover:border-2 hover:border-white group">
            <h3 class="absolute top-[10px] md:top-[20px] left-[10px] md:left-[20px] font-bold text-2xl group-hover:top-[25px] group-hover:left-[25px] transition-all duration-300">Negosiasi</h3>
            <p class="absolute bottom-[10px] right-[10px] font-bold text-5xl group-hover:bottom-[25px] group-hover:right-[25px] transition-all duration-300"><%= sponsorship.negosiasi %></p>
          </div>
          <div class="relative w-full md:w-[250px] h-[150px] bg-white hover:bg-gradient-to-br hover:from-orange-500 hover:to-blue-500 text-midnight hover:text-white hover:border-2 hover:border-white group">
            <h3 class="absolute top-[10px] md:top-[20px] left-[10px] md:left-[20px] font-bold text-2xl group-hover:top-[25px] group-hover:left-[25px] transition-all duration-300">Diterima</h3>
            <p class="absolute bottom-[10px] right-[10px] font-bold text-5xl group-hover:bottom-[25px] group-hover:right-[25px] transition-all duration-300"><%= sponsorship.diterima %></p>
          </div>
          <div class="relative w-full md:w-[250px] h-[150px] bg-white hover:bg-gradient-to-br hover:from-orange-500 hover:to-blue-500 text-midnight hover:text-white hover:border-2 hover:border-white group">
            <h3 class="absolute top-[10px] md:top-[20px] left-[10px] md:left-[20px] font-bold text-2xl group-hover:top-[25px] group-hover:left-[25px] transition-all duration-300">Ditolak</h3>
            <p class="absolute bottom-[10px] right-[10px] font-bold text-5xl group-hover:bottom-[25px] group-hover:right-[25px] transition-all duration-300"><%= sponsorship.ditolak %></p>
          </div>
        </div>
      </section>
    </div>
  </main>

<%- include('../partials/footer') %>