<%- include('../partials/header') %>

<main class="w-full py-10 px-5 sm:flex sm:flex-col sm:items-center">
  <h1 class="block my-5 font-bold text-center text-xl text-green-600">
    Buat Akun
  </h1>

  <form class="w-full sm:max-w-[400px] md:max-w-[500px]">
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        name="username"
        id="username"
        class="block py-2.5 px-0 w-full text-sm sm:text-base lowercase text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
        placeholder=" "
        autofocus
        required
      />
      <label
        for="username"
        class="peer-focus:font-medium absolute text-sm sm:text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Username <span class="text-red-600">*</span></label
      >
      <div
        id="username_error"
        class="mt-1 text-sm sm:text-base text-red-700"
      ></div>
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="email"
        name="floating_email"
        id="email"
        class="block py-2.5 px-0 w-full text-sm sm:text-base lowercase text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-sm sm:text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Email <span class="text-red-600">*</span></label
      >
      <div
        id="email_error"
        class="mt-1 text-sm sm:text-base text-red-700"
      ></div>
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="password"
        name="floating_password"
        id="password"
        class="block py-2.5 px-0 w-full text-sm sm:text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_password"
        class="peer-focus:font-medium absolute text-sm sm:text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Password <span class="text-red-600">*</span></label
      >
      <button
        type="button"
        class="eye absolute top-[10px] right-0 w-5 h-5 text-gray-500 cursor-pointer"
      >
        <div class="eye-svg hidden pointer-events-none" name="eye">
          <%- include('../svg/eye-solid') %>
        </div>
        <div class="eye-slash-svg pointer-events-none">
          <%- include('../svg/eye-slash-solid') %>
        </div>
      </button>
      <div
        id="password_error"
        class="mt-1 text-sm sm:text-base text-red-700"
      ></div>
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="password"
        name="repeat_password"
        id="confirm_password"
        class="block py-2.5 px-0 w-full text-sm sm:text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
        placeholder=" "
        required
      />
      <label
        for="floating_repeat_password"
        class="peer-focus:font-medium absolute text-sm sm:text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Konfirmasi password <span class="text-red-600">*</span></label
      >
      <button
        type="button"
        class="eye absolute top-[10px] right-0 w-5 h-5 text-gray-500 cursor-pointer"
      >
        <div class="eye-svg hidden pointer-events-none" name="eye">
          <%- include('../svg/eye-solid') %>
        </div>
        <div class="eye-slash-svg pointer-events-none">
          <%- include('../svg/eye-slash-solid') %>
        </div>
      </button>
      <div
        id="confirm_password_error"
        class="mt-1 text-sm sm:text-base text-red-700"
      ></div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          name="nama_lengkap"
          id="nama_lengkap"
          class="block py-2.5 px-0 w-full text-sm sm:text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
          placeholder=" "
          required
        />
        <label
          for="nama_lengkap"
          class="peer-focus:font-medium absolute text-sm sm:text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Nama lengkap <span class="text-red-600">*</span></label
        >
        <div
          id="nama_lengkap_error"
          class="mt-1 text-sm sm:text-base text-red-700"
        ></div>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <input
          type="text"
          name="nama_panggilan"
          id="nama_panggilan"
          class="block py-2.5 px-0 w-full text-sm sm:text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
          placeholder=" "
        />
        <label
          for="nama_panggilan"
          class="peer-focus:font-medium absolute text-sm sm:text-base text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Nama panggilan</label
        >
        <div
          id="nama_panggilan_error"
          class="mt-1 text-sm sm:text-base text-red-700"
        ></div>
      </div>
    </div>

    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="flex flex-col items-start">
        <p class="text-center text-sm sm:text-base mb-2 text-gray-500">
          Gender <span class="text-red-600">*</span>
        </p>
        <div class="w-full flex flex-wrap mb-6 justify-start">
          <div class="flex items-center mr-4">
            <input
              id="male"
              type="radio"
              value="m"
              name="gender"
              class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              required
            />
            <label
              for="male"
              class="ml-2 text-sm sm:text-base font-medium text-gray-900 dark:text-gray-300"
              >Laki-laki</label
            >
          </div>
          <div class="flex items-center mr-4">
            <input
              id="female"
              type="radio"
              value="f"
              name="gender"
              class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
              required
            />
            <label
              for="female"
              class="ml-2 text-sm sm:text-base font-medium text-gray-900 dark:text-gray-300"
              >Perempuan</label
            >
          </div>
          <div
            id="gender_error"
            class="mt-1 text-sm sm:text-base text-red-700"
          ></div>
        </div>
      </div>
      <div class="relative w-full mb-6">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <input
          datepicker
          type="text"
          id="birthdate"
          class="border-0 border-b-2 border-gray-300 text-gray-900 text-sm sm:text-base block w-full pl-10 p-2.5 focus:border-green-500 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:border-green-500 focus:outline-white focus:outline-offset-0"
          placeholder="Tanggal lahir"
        />
      </div>
    </div>

    <div class="w-full flex justify-center">
      <button
        type="submit"
        id="btn-submit"
        class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm sm:text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
      >
        Buat
      </button>
    </div>
  </form>

  <div class="w-full mt-7 text-center">
    <p class="text-sm sm:text-base">Sudah punya akun?</p>
    <a href="/login" class="text-sm sm:text-base text-green-600"
      >Login di sini</a
    >
  </div>
</main>
<script src="/date-picker.js"></script>
<script>
  const eyes = document.querySelectorAll('.eye');
  eyes.forEach((eye) => {
    eye.addEventListener('click', (e) => {
      e.target.querySelector('.eye-svg').classList.toggle('hidden');
      e.target.querySelector('.eye-slash-svg').classList.toggle('hidden');

      const input = e.target.closest('div').querySelector('input');
      input.type === 'password'
        ? (input.type = 'text')
        : (input.type = 'password');
    });
  });

  const disableBtn = () => {
    const elementErr = document.querySelectorAll('[id$="error"]');
    const btnSubmit = document.querySelector('#btn-submit');
    const disable = {};
    elementErr.forEach((el) => {
      if (el.textContent !== '') {
        disable.on = true;
      } else {
        disable.off = true;
      }
    });

    if ('on' in disable) {
      btnSubmit.classList.add('btn-disabled');
    } else {
      btnSubmit.classList.remove('btn-disabled');
    }
  };

  const username = document.querySelector('#username');
  const usernameError = document.querySelector('#username_error');
  usernameError.textContent = '';
  username.addEventListener('keyup', (e) => {
    if (e.target.value.indexOf(' ') > 0) {
      usernameError.textContent = 'Username tidak boleh mengandung spasi';
    } else if (e.target.value.length < 6) {
      usernameError.textContent = 'Username minimal memiliki 6 karakter';
    } else {
      usernameError.textContent = '';
    }
    disableBtn();
  });

  username.addEventListener('focusout', (e) => {
    e.target.value.length === 0
      ? (usernameError.textContent = 'Username harus diisi')
      : (usernameError.textContent = '');
    disableBtn();
  });

  const emailError = document.querySelector('#email_error');
  const email = document.querySelector('#email');
  emailError.textContent = '';
  email.addEventListener('focusout', (e) => {
    e.target.value.length === 0
      ? (emailError.textContent = 'Email harus diisi')
      : (emailError.textContent = '');

    disableBtn();
  });

  const password = document.querySelector('#password');
  const passwordError = document.querySelector('#password_error');
  passwordError.textContent = '';
  password.addEventListener('keyup', (e) => {
    e.target.value.length < 6
      ? (passwordError.textContent = 'Password minimal memiliki 6 karakter')
      : (passwordError.textContent = '');
    disableBtn();
  });
  password.addEventListener('focusout', (e) => {
    e.target.value.length === 0
      ? (passwordError.textContent = 'Password harus diisi')
      : (passwordError.textContent = '');
    disableBtn();
  });

  const confirmPassword = document.querySelector('#confirm_password');
  const confirmPasswordError = document.querySelector(
    '#confirm_password_error'
  );
  confirmPasswordError.textContent = '';
  confirmPassword.addEventListener('keyup', (e) => {
    e.target.value !== password.value
      ? (confirmPasswordError.textContent =
          'Konfirmasi password berbeda dengan password')
      : (confirmPasswordError.textContent = '');

    disableBtn();
  });

  const namaLengkap = document.querySelector('#nama_lengkap');
  const namaLengkapError = document.querySelector('#nama_lengkap_error');
  namaLengkapError.textContent = '';
  namaLengkap.addEventListener('keyup', (e) => {
    e.target.value.length < 3
      ? (namaLengkapError.textContent =
          'Nama lengkap minimal memiliki 3 karakter')
      : (namaLengkapError.textContent = '');

    disableBtn();
  });
  namaLengkap.addEventListener('focusout', (e) => {
    e.target.value.length === 0
      ? (namaLengkapError.textContent = 'Nama lengkap harus diisi')
      : (namaLengkapError.textContent = '');

    disableBtn();
  });

  const gender = document.querySelectorAll('input[name=gender]');
  gender.forEach((el) => {
    const genderError = document.querySelector('#gender_error');
    el.addEventListener('change', () => {
      genderError.textContent = '';
    });
  });

  const form = document.querySelector('form');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const username = document.querySelector('#username').value;
    const email = document.querySelector('#email').value;
    const password = document.querySelector('#password').value;
    const nama_lengkap = document.querySelector('#nama_lengkap').value;
    const nama_panggilan = document.querySelector('#nama_panggilan').value;
    const gender = document.querySelector('input[name=gender]:checked').value;
    const birthdate = document.querySelector('#birthdate').value;

    const payload = {
      username,
      email,
      password,
      nama_lengkap,
      nama_panggilan,
      gender,
      birthdate,
    };

    try {
      const res = await fetch(`<%= endpoint %>/signup`, {
        method: 'POST',
        body: JSON.stringify(payload),
        headers: { 'Content-Type': 'application/json' },
      });
      const data = await res.json();

      if (data.user) {
        location.assign('/login');
      }

      if (data.errors) {
        throw Error(data.errors);
        usernameError.textContent = data.errors.username;
        emailError.textContent = data.errors.email;
      }
    } catch (err) {
      console.log(err);
      // TODO nanti mengerjakan ini.
    }
  });
</script>
<%- include('../partials/footer') %>
